In [1]:
### plotting
import matplotlib.pyplot as plt

### user module
from model.transit_sim_model import Network, Trains, Travelers

### fix random seed
import numpy as np
np.random.seed(0)

### Process GTFS schedules
Need the following tables:
 * stop_times.txt: schedule info
 * trips.txt: map trip_id to route_id
 * stops.txt: get stop coordinates (for visualization)

In [2]:
### read in GTFS files
stop_times_file = 'example_bart_google_transit_20211101_20220213_v2/stop_times.txt'
trips_file = 'example_bart_google_transit_20211101_20220213_v2/trips.txt'
stops_file = 'example_bart_google_transit_20211101_20220213_v2/stops.txt'
### only keep results with this service id
service_id = '2021_09_13-DX-MVS-Weekday-08'

### create all trains from GTFS
all_trains = Trains()
all_nodes, all_links = all_trains.schedule_and_network_from_gtfs(
    stop_times_file, trips_file, stops_file, service_id)

### create network from nodes and links
network = Network(all_nodes, all_links)

/Users/bingyu/Desktop/transit_sim/model/transit_sim_model.py:156: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  schedule_table['stop_lon'] = schedule_table.geometry.centroid.x
/Users/bingyu/Desktop/transit_sim/model/transit_sim_model.py:157: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  schedule_table['stop_lat'] = schedule_table.geometry.centroid.y

In [3]:
### display and export network
display(network.all_nodes.head(3))
display(network.all_links.head(2))
network.all_links.to_csv('outputs/example_links.csv', index=False)
network.all_nodes.to_csv('outputs/example_nodes.csv', index=False)

,route_stop_id,stop_lon,stop_lat,stop_id,type,node_id,geometry
0,5-BERY,-121.874322,37.368759,BERY,platform,0,POINT (-121.87432 37.36876)
1,5-MLPT,-121.890722,37.410562,MLPT,platform,1,POINT (-121.89072 37.41056)
2,5-WARM,-121.939036,37.50257,WARM,platform,2,POINT (-121.93904 37.50257)

,route_stop_id,next_route_stop_id,start_nid,end_nid,initial_weight,geometry
66,5-BERY,5-MLPT,0,1,1.0,"LINESTRING (-121.87432 37.36876, -121.89072 37..."
67,5-MLPT,5-WARM,1,2,1.0,"LINESTRING (-121.89072 37.41056, -121.93904 37..."

### Travel demand
 * random demand
 * or, input csv with columns *traveler_id*, *origin_nid*, *destin_nid*, *departure_time*

In [9]:
### random OD
### create instance
travelers = Travelers()
### generate random od
travelers.random_od(network.all_nodes, num_travelers=100)
### find routes
travelers.find_routes(network.network_g, network.station_id_nm_dict)
travelers.set_initial_status(network.station_id_nm_dict)

display(travelers.travelers_df)

,origin_nid,destin_nid,traveler_id,departure_time,traveler_status,update_time,association,next_station,origin_station,destination_station
0,226,257,0,26871,pretrip,0,None,None,all-12TH,all-ORIN
1,229,231,1,29491,pretrip,0,None,None,all-24TH,all-ASHB
2,229,256,2,26830,pretrip,0,None,None,all-24TH,all-NCON
3,265,226,3,28823,pretrip,0,None,None,all-SANL,all-12TH
4,235,262,4,27817,pretrip,0,None,None,all-CAST,all-POWL
...,...,...,...,...,...,...,...,...,...,...
94,247,233,92,27717,pretrip,0,None,None,all-GLEN,all-BAYF
95,274,250,93,28441,pretrip,0,None,None,all-WOAK,all-LAKE
96,231,241,94,26810,pretrip,0,None,None,all-ASHB,all-DBRK
98,261,244,95,27961,pretrip,0,None,None,all-PLZA,all-EMBR
99,226,266,96,26885,pretrip,0,None,None,all-12TH,all-SBRN

In [16]:
### check if travelers can transfer between lines
print(travelers.travelers_paths[15])
print(travelers.travelers_key_stops[15])
all_trains.schedule_df[(all_trains.schedule_df['location']=='1-COLM') & 
                      (all_trains.schedule_df['next_time']>29400+140) &
                       (all_trains.schedule_df['next_time']<29424+1000)
                      ]
all_trains.schedule_df[all_trains.schedule_df['trip_id']==964621]

['all-SANL', '12-SANL', '12-BAYF', '12-CAST', 'all-CAST']
{'all-SANL': '12-SANL', '12-SANL': '12-CAST', '12-CAST': 'all-CAST'}

       trip_id     time  next_time   status       location current_location
16224   964621  24420.0    24450.0     stop         1-ANTC             past
16225   964621  24450.0    24840.0  on_link  1-ANTC-1-PCTR             past
16226   964621  24840.0    24870.0     stop         1-PCTR             past
16227   964621  24870.0    25200.0  on_link  1-PCTR-1-PITT             past
16228   964621  25200.0    25260.0     stop         1-PITT             past
16229   964621  25260.0    25620.0  on_link  1-PITT-1-NCON             past
16230   964621  25620.0    25650.0     stop         1-NCON             past
16231   964621  25650.0    25800.0  on_link  1-NCON-1-CONC             past
16232   964621  25800.0    25830.0     stop         1-CONC             past
16233   964621  25830.0    26100.0  on_link  1-CONC-1-PHIL             past
16234   964621  26100.0    26160.0     stop         1-PHIL             past
16235   964621  26160.0    26280.0  on_link  1-PHIL-1-WCRK             past
16236   964621  26280.0    26310.0     stop         1-WCRK             past
16237   964621  26310.0    26580.0  on_link  1-WCRK-1-LAFY             past
16238   964621  26580.0    26610.0     stop         1-LAFY             past
16239   964621  26610.0    26820.0  on_link  1-LAFY-1-ORIN             past
16240   964621  26820.0    26880.0     stop         1-ORIN             past
16241   964621  26880.0    27180.0  on_link  1-ORIN-1-ROCK             past
16242   964621  27180.0    27210.0     stop         1-ROCK             past
16243   964621  27210.0    27360.0  on_link  1-ROCK-1-MCAR             past
16244   964621  27360.0    27420.0     stop         1-MCAR             past
16245   964621  27420.0    27600.0  on_link  1-MCAR-1-19TH             past
16246   964621  27600.0    27630.0     stop         1-19TH             past
16247   964621  27630.0    27720.0  on_link  1-19TH-1-12TH             past
16248   964621  27720.0    27750.0     stop         1-12TH             past
16249   964621  27750.0    27960.0  on_link  1-12TH-1-WOAK             past
16250   964621  27960.0    28020.0     stop         1-WOAK             past
16251   964621  28020.0    28380.0  on_link  1-WOAK-1-EMBR             past
16252   964621  28380.0    28440.0     stop         1-EMBR             past
16253   964621  28440.0    28500.0  on_link  1-EMBR-1-MONT             past
16254   964621  28500.0    28560.0     stop         1-MONT             past
16255   964621  28560.0    28620.0  on_link  1-MONT-1-POWL             past
16256   964621  28620.0    28650.0     stop         1-POWL             past
16257   964621  28650.0    28740.0  on_link  1-POWL-1-CIVC             past
16258   964621  28740.0    28770.0     stop         1-CIVC             past
16259   964621  28770.0    28860.0  on_link  1-CIVC-1-16TH             past
16260   964621  28860.0    28890.0     stop         1-16TH             past
16261   964621  28890.0    28980.0  on_link  1-16TH-1-24TH             past
16262   964621  28980.0    29010.0     stop         1-24TH             past
16263   964621  29010.0    29160.0  on_link  1-24TH-1-GLEN             past
16264   964621  29160.0    29190.0     stop         1-GLEN             past
16265   964621  29190.0    29280.0  on_link  1-GLEN-1-BALB             past
16266   964621  29280.0    29310.0     stop         1-BALB             past
16267   964621  29310.0    29520.0  on_link  1-BALB-1-DALY             past
16268   964621  29520.0    29580.0     stop         1-DALY             past
16269   964621  29580.0    29820.0  on_link  1-DALY-1-COLM             past
16270   964621  29820.0    29850.0     stop         1-COLM             past
16271   964621  29850.0    30000.0  on_link  1-COLM-1-SSAN             past
16272   964621  30000.0    30030.0     stop         1-SSAN             past
16273   964621  30030.0    30180.0  on_link  1-SSAN-1-SBRN             past
16274   964621  30180.0    30210.0     stop         1-SBRN             past
16275   964621  30210.0    30480.0  on_link  1-SBRN-1-SFIA             past
28044   964621  30480.0    30510.0     stop         1-SFIA             past

### Simulation and plotting

In [11]:
def plot_map(network, trains, travelers, t):
    
    fig, ax = plt.subplots(figsize=(20, 20))
    ### network
    network.all_links.plot(ax=ax, zorder=1)
    network.all_nodes.plot(ax=ax, zorder=2)
    ### train positions
    train_positions = trains.get_all_train_positions(network)
    trains_on_link = train_positions[train_positions['status']=='on_link']
    U = trains_on_link['ux'] / np.sqrt(trains_on_link['ux']**2 + trains_on_link['uy']**2);
    V = trains_on_link['uy'] / np.sqrt(trains_on_link['ux']**2 + trains_on_link['uy']**2);
    ax.quiver(trains_on_link['cx'], trains_on_link['cy'],
              U, V, scale=0.1, scale_units='dots', color='red')
    trains_on_platform = train_positions[train_positions['status']=='stop']
    ax.scatter(trains_on_platform['cx'], trains_on_platform['cy'],
               facecolor="None", edgecolor='red', marker='o', s=100, zorder=3)

    ### traveler positions
    traveler_locations = travelers.get_all_traveler_positions(train_positions)
    ### annotate trip id
    traveler_locations.apply(lambda x: ax.annotate(text='{}-{}'.format(x['trip_id'], x['num_travelers']),
                                               xytext=(x['cx'], x['cy'])+np.random.random(1)/30,
                                               xy=(x['cx'], x['cy']),
                                               arrowprops=dict(arrowstyle="->", color='k'),
                                               size=10), axis=1)
    
    fig.savefig('outputs/figs/t{}.png'.format(t))

In [12]:
def save_results(network, trains, travelers, t):
    ### save train results
    train_positions = trains.get_all_train_positions(network)
    train_positions.to_csv('outputs/train_outputs/train_outputs_od100_{}.csv'.format(t), index=False)
    ### save traveler results
    traveler_locations = travelers.travelers_df.groupby(
            ['traveler_status', 'association']).size().to_frame(
            name='num_travelers').reset_index(drop=False)
    traveler_locations.to_csv('outputs/traveler_outputs/traveler_outputs_od100_{}.csv'.format(t), index=False)

In [13]:
for t in range(26664-200, 30700, 20):
    ### update train location
    all_trains.update_location_occupancy(t)
    
    ### update traveler status
    travelers.traveler_update(network, all_trains, t)
    
    ### print and plot results
    #plot_map(network, all_trains, travelers, t)
    save_results(network, all_trains, travelers, t)